@model SMScenterMVC.Models.ContactUsInput

@{/*<p>Thanks for your feedback, @Model.Name! We will contact you shortly.</p>
<p><a href="javascript:void(0);" class="close">Close Window</a></p>*/}
<p>Отправлено! Мы постараемся оперативно реализовать Ваше пожелание.</p>
<p><a href="javascript:void(0);" class="close">Закрыть окно</a></p>