@{
    ViewBag.Title = "Главная";
}

<h2>Добро пожаловать в SMS-центр!</h2>
<p>
    Рады приветствовать Вас на нашем новом веб-ресурсе.<br />
    <!--Ресурс SMS-Центр предназначен для взаимодействия с абонентами посредством сотовой связи. А так же для оперативного взаимодействия сотрудников компании Ростелеком друг с другом.-->
</p>