<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433  
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString_eArchive" connectionString="Data Source=earchive;User ID=smscenter;Password=zaq12wsx;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms loginUrl="logon.aspx" name="adAuthCookie" timeout="60" path="/">
        </forms>
      </authentication>
      <authorization>
        <deny users="?" />
        <allow users="*" />
      </authorization>
      <identity impersonate="true" />
    </system.web>  

</configuration>
